{% extends 'base.html.twig' %}

{% block body %}

    <aside>
        <h3>Archibald</h3>
        <!--Insérer les liens vers les différents formulaires -->
        <p>Tendances</p>
        <p>Se connecter</p>
        <p>S'inscrire</p>
    </aside>

	{% block content %}
    {% endblock %}

{% endblock %}
